# Habitable Exoplanets -- Research Project

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Trim dataset to only necessary or useful parts

In [3]:
all_exoplanets = pd.read_csv('kepler.csv')
all_exoplanets_drop = all_exoplanets.drop(columns=['angular_distance','orbital_period','eccentricity','inclination','star_distance','star_age','star_metallicity','planet_status','mass','mass_error_min', 'mass_error_max','mass_sini', 'mass_sini_error_min', 'mass_sini_error_max','radius_error_min', 'radius_error_max', 'orbital_period_error_min', 'orbital_period_error_max','semi_major_axis_error_min','semi_major_axis_error_max','eccentricity_error_min','eccentricity_error_max','inclination_error_min','inclination_error_max','omega', 'omega_error_min', 'omega_error_max', 'tperi','tperi_error_min', 'tperi_error_max', 'tconj', 'tconj_error_min','tconj_error_max', 'tzero_tr', 'tzero_tr_error_min','tzero_tr_error_max', 'tzero_tr_sec', 'tzero_tr_sec_error_min','tzero_tr_sec_error_max', 'lambda_angle', 'lambda_angle_error_min','lambda_angle_error_max', 'impact_parameter','impact_parameter_error_min', 'impact_parameter_error_max', 'tzero_vr','tzero_vr_error_min', 'tzero_vr_error_max', 'k', 'k_error_min','k_error_max','temp_calculated_error_min','temp_calculated_error_max','hot_point_lon','geometric_albedo', 'geometric_albedo_error_min','geometric_albedo_error_max', 'log_g', 'publication_status','detection_type', 'mass_detection_type', 'radius_detection_type','alternate_names', 'molecules', 'ra', 'dec','mag_v','mag_i', 'mag_j', 'mag_h', 'mag_k','star_distance_error_min', 'star_distance_error_max','star_metallicity_error_min','star_metallicity_error_max','star_mass_error_min','star_mass_error_max','star_radius_error_min','star_radius_error_max','star_age_error_min', 'star_age_error_max', 'star_teff','star_teff_error_min', 'star_teff_error_max', 'star_detected_disc','star_alternate_names', 'temp_calculated', 'temp_measured', 'star_magnetic_field', 'radius', 'discovered', 'updated'])

#drop rows with missing data & reset the index
exoplanets = all_exoplanets_drop.dropna()
exoplanets = exoplanets.reset_index(drop=True)
exoplanets = exoplanets.rename(columns={'star_sp_type':'spectral_type', '# name': 'planet_name'})

In [4]:
exoplanets

,planet_name,semi_major_axis,star_name,star_mass,star_radius,spectral_type
0,11 Com b,1.2900,11 Com,2.70,19.000,G8 III
1,11 UMi b,1.5400,11 UMi,1.80,24.080,K4III
2,14 And b,0.8300,14 And,2.20,11.000,K0III
3,14 Her b,2.7700,14 Her,0.90,0.708,K0 V
4,16 Cyg B b,1.6800,16 Cyg B,1.01,0.980,G2.5 V
...,...,...,...,...,...,...
869,tau Gem b,1.1700,tau Gem,2.30,26.800,K2III
870,ups And b,0.0590,ups And,1.27,1.631,F8 V
871,ups And c,0.8610,ups And,1.27,1.631,F8 V
872,ups And d,2.5500,ups And,1.27,1.631,F8 V
873,ups And e,5.2456,ups And,1.27,1.631,F8 V

### Divide data into its various parts

In [5]:
planet_name = exoplanets['planet_name']
star_name = exoplanets['star_name']
semi_major_axis = exoplanets['semi_major_axis']
star_mass = exoplanets['star_mass']
star_radius = exoplanets['star_radius']
spectral_type = exoplanets['spectral_type']

In [6]:
class exoplanet(object):
    def __init__(self,pl_name,st_name,semi_major,st_mass,st_radius,st_spectral):
        
        self.pl_name = pl_name
        self.st_name = st_name
        self.semi_major = semi_major
        self.st_mass = st_mass
        self.st_radius = st_radius
        self.st_spectral = st_spectral
        self.st_lum = st_mass ** 3.5
        
    def get_pl_name(self):
        return self.pl_name
    
    def get_st_name(self):
        return self.st_name
    
    def get_semi(self):
        return self.semi_major
    
    def get_st_mass(self):
        return self.st_mass
    
    def get_st_radius(self):
        return self.st_radius
    
    def get_st_spectral(self):
        return self.st_spectral
    
    def get_st_lum(self):
        return self.lum

### Convert data into exoplanet objects

In [7]:
exoplanet_list = []

for row in exoplanets.iterrows():
    exoplanet_list.append(exoplanet(row[1][0],row[1][2],row[1][1],row[1][3],row[1][4],row[1][5]))
    
len(exoplanet_list)

874