# Habitable Exoplanets -- Research Project

In [2]:
import numpy as np
import pandas as pd

### Trim dataset to only necessary or useful parts

In [4]:
all_exoplanets = pd.read_csv('kepler.csv')
all_exoplanets_drop = all_exoplanets.drop(columns=['planet_status','mass','mass_error_min', 'mass_error_max','mass_sini', 'mass_sini_error_min', 'mass_sini_error_max','radius_error_min', 'radius_error_max', 'orbital_period_error_min', 'orbital_period_error_max','semi_major_axis_error_min','semi_major_axis_error_max','eccentricity_error_min','eccentricity_error_max','inclination_error_min','inclination_error_max','omega', 'omega_error_min', 'omega_error_max', 'tperi','tperi_error_min', 'tperi_error_max', 'tconj', 'tconj_error_min','tconj_error_max', 'tzero_tr', 'tzero_tr_error_min','tzero_tr_error_max', 'tzero_tr_sec', 'tzero_tr_sec_error_min','tzero_tr_sec_error_max', 'lambda_angle', 'lambda_angle_error_min','lambda_angle_error_max', 'impact_parameter','impact_parameter_error_min', 'impact_parameter_error_max', 'tzero_vr','tzero_vr_error_min', 'tzero_vr_error_max', 'k', 'k_error_min','k_error_max','temp_calculated_error_min','temp_calculated_error_max','hot_point_lon','geometric_albedo', 'geometric_albedo_error_min','geometric_albedo_error_max', 'log_g', 'publication_status','detection_type', 'mass_detection_type', 'radius_detection_type','alternate_names', 'molecules', 'ra', 'dec','mag_v','mag_i', 'mag_j', 'mag_h', 'mag_k','star_distance_error_min', 'star_distance_error_max','star_metallicity_error_min','star_metallicity_error_max','star_mass_error_min','star_mass_error_max','star_radius_error_min','star_radius_error_max','star_age_error_min', 'star_age_error_max', 'star_teff','star_teff_error_min', 'star_teff_error_max', 'star_detected_disc','star_alternate_names', 'temp_calculated', 'temp_measured', 'star_magnetic_field', 'radius', 'discovered', 'updated'])

#drop rows with missing data & reset the index
exoplanets = all_exoplanets_drop.reset_index(drop=True)
exoplanets = exoplanets.rename(columns={'star_sp_type':'spectral_type', '# name': 'planet_name'})

In [5]:
exoplanets

,planet_name,orbital_period,semi_major_axis,eccentricity,inclination,angular_distance,star_name,star_distance,star_metallicity,star_mass,star_radius,spectral_type,star_age
0,OGLE-2016-BLG-1469L b,NaN,0.3300,NaN,NaN,NaN,OGLE-2016-BLG-1469L,4500.00,NaN,0.0480,NaN,NaN,NaN
1,11 Com b,326.03000,1.2900,0.23100,NaN,0.011664,11 Com,110.60,-0.35,2.7000,19.000,G8 III,NaN
2,11 Oph b,730000.00000,243.0000,NaN,NaN,1.675862,11 Oph,145.00,NaN,0.0162,NaN,M9,0.011
3,11 UMi b,516.22000,1.5400,0.08000,NaN,0.012887,11 UMi,119.50,0.04,1.8000,24.080,K4III,1.560
4,14 And b,185.84000,0.8300,0.00000,NaN,0.010864,14 And,76.40,-0.24,2.2000,11.000,K0III,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3727,tau Gem b,305.50000,1.1700,0.03100,NaN,NaN,tau Gem,98.40,0.14,2.3000,26.800,K2III,1.220
3728,ups And b,4.61711,0.0590,0.01186,90.000,0.004380,ups And,13.47,0.09,1.2700,1.631,F8 V,3.800
3729,ups And c,240.93700,0.8610,0.24450,11.347,0.063920,ups And,13.47,0.09,1.2700,1.631,F8 V,3.800
3730,ups And d,1281.43900,2.5500,0.31600,25.609,0.189310,ups And,13.47,0.09,1.2700,1.631,F8 V,3.800
3731,ups And e,3848.86000,5.2456,0.00536,NaN,0.389428,ups And,13.47,0.09,1.2700,1.631,F8 V,3.800

### Divide data into its various parts

In [6]:
planet_name = exoplanets['planet_name']
star_name = exoplanets['star_name']
orbital_period = exoplanets['orbital_period']
semi_major_axis = exoplanets['semi_major_axis']
eccentricity = exoplanets['eccentricity']
inclination = exoplanets['inclination']
angular_distance = exoplanets['angular_distance']
star_distance = exoplanets['star_distance']
star_metallicity = exoplanets['star_metallicity']
star_mass = exoplanets['star_mass']
star_radius = exoplanets['star_radius']
spectral_type = exoplanets['spectral_type']
star_age = exoplanets['star_age']

In [1]:
class exoplanet(object):
    def __init__(self,pl_name,st_name,semi_major,st_mass,st_radius,st_spectral):
        
        self.pl_name = pl_name
        self.st_name = st_name
        self.semi_major = semi_major
        self.st_mass = st_mass
        self.st_radius = st_radius
        self.st_spectral = st_spectral
        
    def get_pl_name(self):
        return self.pl_name
    
    def get_st_name(self):
        return self.st_name
    
    def get_semi(self):
        return self.semi_major
    
    def get_st_mass(self):
        return self.st_mass
    
    def get_st_radius(self):
        return self.st_radius
    
    def get_st_spectral(self):
        return self.st_spectral